.navbar {
      margin-bottom: 0;
      border-radius: 0;
      color: #303633;
} 
footer {
      background-color: #7ea2aa;
      padding: 25px;
}
.img-circle {
    border-radius: 50%;
}

body {
    color: #8be8cb;
    background-color: #9c7a97;
}