.navbar {
    margin-bottom: 0;
    border-radius: 0;
    color: #EEDEC7;
    background-color: #000000;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size:125%;
}
div.text {
  padding-top: 50px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-left: 200px;
  font-size: 150%;
  font-family: 'Lato';
}

h1 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  background-color: #EDDBCD;
  padding: 50px;
}
hr {
  border-color: #123455;
}
.navbar {
      margin-bottom: 0;
      border-radius: 0;
      color: #EEDEC7;
      background-color: #000000;
      font-family: 'Poiret One', cursive;
      font-weight: bolder;
      font-size:125%;
}
h3 {
    font-size: 30px;
    font-weight: bolder;
}

h4 {
    font-size: 25px;
    font-weight: bold;

}
.center{
    align:middle;
}
h5 {
    font-size: 100%;
    font-weight: bold;
}
